.nav {
  list-style-type: none;
  display: flex;
  padding: 0 0 0 10px;
  margin: 0;
  background-color: rgb(65, 131, 255);
  color: white;
  height: 70px;
  align-items: center;
}

#title {
  font-size: 35px;
}

.nav li {
  flex: 25%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

a:active {
  font-weight: bold;
}

.create-user {
  display: flex;
  border: 1px solid rgb(63, 63, 63);
  width: 550px;
  height: 200px;
}

.sub-title {
  color: gray;
}
.create-user div {
  display: flex;
  height: 30px;
}