.nav {
  list-style-type: none;
  display: flex;
  padding: 0 0 0 10px;
  margin: 0;
  background-color: dodgerblue;
  color: white;
  height: 70px;
  align-items: center;
}

nav li:first-child {
  font-size: 35px;
}

.nav li {
  flex: calc(100% / 3 - 2rem);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

a:active {
  font-weight: bold;
}

h1 {
  color:rgb(100, 100, 100);
}

body h1 {
  margin: 1rem;
}

body > div {
  flex-basis: 50%;
  margin: 0;
  /* padding: 10px 10px 20px 10px; */
  display: flex;
  justify-content: center;
}

.box {
  width: 550px;
  border: 1px solid black;
  padding: 18px;
  border-radius: 4px;
}

.box h1 {
  margin: 0;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.row label {
  width: 140px;
  color: rgb(100, 100, 100);
  font-weight: bold;
}

/* .row input, select {
  background-color: red;
} */

.center {
  display: flex;
  justify-content: center;
}

input[type='text'], select[id='department'] {
  flex: 30%;
  padding: 5px 10px;
  margin: 8px 0;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

select[id='department']{
  background-color: rgb(243, 243, 243);
  border-color: grey;
}

input[type='submit'] {
  background-color: dodgerblue;
  color: white;
}

/* input[type='reset'], input[type='submit'] {
  justify-content: flex-end;
} */

.card-display {
  display: flex;
  flex-flow: row wrap;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% / 3 - 2rem);
  /* justify-content: flex-start; */
  border: 1px solid gray;
  padding-top: 8px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
  color: rgb(100, 100, 100);
  /* padding: 5px; */
}

.cards h4, p {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: verdana;
}